<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Banner
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section class="banner-section inner-banner-section bg-overlay-black bg_img"
         >
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="col-xl-12 text-center">
                <div class="banner-content">
                    <h1 class="title">Read About Us</h1>
                    <div class="breadcrumb-area">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">About us</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Banner
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Scroll-To-Top
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<a href="#" class="scrollToTop">
    <i class="las la-dot-circle"></i>
    <span>Top</span>
</a>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Scroll-To-Top
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Call-widget
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Call-widget
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Faq
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section class="faq-section bg--gray ptb-120">
    <div class="container">
        <div class="row justify-content-center mb-30-none">
            <div class="col-xl-6 col-lg-6 mb-30">
                <div class="faq-header-area">
                    <h3 class="title">General Questions</h3>
                </div>
                <div class="faq-wrapper">
                    <div class="faq-item active open">
                        <h3 class="faq-title">
                            <span class="title">
                                1. What types of aircrafts are
                                available?
                            </span><span class="right-icon"></span>
                        </h3>
                        <div class="faq-content">
                            <p>
                                Whether you’re flying in a small, medium, or large group, VIP Jets offers a wide
                                variety of aircrafts suited for groups of all sizes. With the VIP Jets 25-Hour
                                Card, you have the flexibility to choose the size and age class.
                            </p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h3 class="faq-title">
                            <span class="title">2. How many people do they hold?</span><span class="right-icon"></span>
                        </h3>
                        <div class="faq-content">
                            <p>
                                Whether you’re flying in a small, medium, or large group, VIP Jets offers a wide
                                variety of aircrafts suited for groups of all sizes. With the VIP Jets 25-Hour
                                Card, you have the flexibility to choose the size and age class.
                            </p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h3 class="faq-title">
                            <span class="title">
                                3. Can I use more than one of your aircrafts
                                at a time?
                            </span><span class="right-icon"></span>
                        </h3>
                        <div class="faq-content">
                            <p>
                                Whether you’re flying in a small, medium, or large group, VIP Jets offers a wide
                                variety of aircrafts suited for groups of all sizes. With the VIP Jets 25-Hour
                                Card, you have the flexibility to choose the size and age class.
                            </p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h3 class="faq-title">
                            <span class="title">
                                4. Where can I fly on one of your private
                                jets?
                            </span><span class="right-icon"></span>
                        </h3>
                        <div class="faq-content">
                            <p>
                                Whether you’re flying in a small, medium, or large group, VIP Jets offers a wide
                                variety of aircrafts suited for groups of all sizes. With the VIP Jets 25-Hour
                                Card, you have the flexibility to choose the size and age class.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 mb-30">
                <div class="faq-header-area">
                    <h3 class="title">Managing Your Booking</h3>
                </div>
                <div class="faq-wrapper">
                    <div class="faq-item active open">
                        <h3 class="faq-title">
                            <span class="title">
                                1. What types of aircrafts are
                                available?
                            </span><span class="right-icon"></span>
                        </h3>
                        <div class="faq-content">
                            <p>
                                Whether you’re flying in a small, medium, or large group, VIP Jets offers a wide
                                variety of aircrafts suited for groups of all sizes. With the VIP Jets 25-Hour
                                Card, you have the flexibility to choose the size and age class.
                            </p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h3 class="faq-title">
                            <span class="title">2. How many people do they hold?</span><span class="right-icon"></span>
                        </h3>
                        <div class="faq-content">
                            <p>
                                Whether you’re flying in a small, medium, or large group, VIP Jets offers a wide
                                variety of aircrafts suited for groups of all sizes. With the VIP Jets 25-Hour
                                Card, you have the flexibility to choose the size and age class.
                            </p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h3 class="faq-title">
                            <span class="title">
                                3. Can I use more than one of your aircrafts
                                at a time?
                            </span><span class="right-icon"></span>
                        </h3>
                        <div class="faq-content">
                            <p>
                                Whether you’re flying in a small, medium, or large group, VIP Jets offers a wide
                                variety of aircrafts suited for groups of all sizes. With the VIP Jets 25-Hour
                                Card, you have the flexibility to choose the size and age class.
                            </p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h3 class="faq-title">
                            <span class="title">
                                4. Where can I fly on one of your private
                                jets?
                            </span><span class="right-icon"></span>
                        </h3>
                        <div class="faq-content">
                            <p>
                                Whether you’re flying in a small, medium, or large group, VIP Jets offers a wide
                                variety of aircrafts suited for groups of all sizes. With the VIP Jets 25-Hour
                                Card, you have the flexibility to choose the size and age class.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Faq
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Faq
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section class="faq-section ptb-120">
    <div class="container">
        <div class="row justify-content-center mb-30-none">
            <div class="col-xl-6 col-lg-6 mb-30">
                <div class="faq-header-area">
                    <h3 class="title">Managing Your Deals</h3>
                </div>
                <div class="faq-wrapper">
                    <div class="faq-item active open">
                        <h3 class="faq-title">
                            <span class="title">
                                1. What types of aircrafts are
                                available?
                            </span><span class="right-icon"></span>
                        </h3>
                        <div class="faq-content">
                            <p>
                                Whether you’re flying in a small, medium, or large group, VIP Jets offers a wide
                                variety of aircrafts suited for groups of all sizes. With the VIP Jets 25-Hour
                                Card, you have the flexibility to choose the size and age class.
                            </p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h3 class="faq-title">
                            <span class="title">2. How many people do they hold?</span><span class="right-icon"></span>
                        </h3>
                        <div class="faq-content">
                            <p>
                                Whether you’re flying in a small, medium, or large group, VIP Jets offers a wide
                                variety of aircrafts suited for groups of all sizes. With the VIP Jets 25-Hour
                                Card, you have the flexibility to choose the size and age class.
                            </p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h3 class="faq-title">
                            <span class="title">
                                3. Can I use more than one of your aircrafts
                                at a time?
                            </span><span class="right-icon"></span>
                        </h3>
                        <div class="faq-content">
                            <p>
                                Whether you’re flying in a small, medium, or large group, VIP Jets offers a wide
                                variety of aircrafts suited for groups of all sizes. With the VIP Jets 25-Hour
                                Card, you have the flexibility to choose the size and age class.
                            </p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h3 class="faq-title">
                            <span class="title">
                                4. Where can I fly on one of your private
                                jets?
                            </span><span class="right-icon"></span>
                        </h3>
                        <div class="faq-content">
                            <p>
                                Whether you’re flying in a small, medium, or large group, VIP Jets offers a wide
                                variety of aircrafts suited for groups of all sizes. With the VIP Jets 25-Hour
                                Card, you have the flexibility to choose the size and age class.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 mb-30">
                <div class="faq-header-area">
                    <h3 class="title">Managing Your Tour Packages</h3>
                </div>
                <div class="faq-wrapper">
                    <div class="faq-item active open">
                        <h3 class="faq-title">
                            <span class="title">
                                1. What types of aircrafts are
                                available?
                            </span><span class="right-icon"></span>
                        </h3>
                        <div class="faq-content">
                            <p>
                                Whether you’re flying in a small, medium, or large group, VIP Jets offers a wide
                                variety of aircrafts suited for groups of all sizes. With the VIP Jets 25-Hour
                                Card, you have the flexibility to choose the size and age class.
                            </p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h3 class="faq-title">
                            <span class="title">2. How many people do they hold?</span><span class="right-icon"></span>
                        </h3>
                        <div class="faq-content">
                            <p>
                                Whether you’re flying in a small, medium, or large group, VIP Jets offers a wide
                                variety of aircrafts suited for groups of all sizes. With the VIP Jets 25-Hour
                                Card, you have the flexibility to choose the size and age class.
                            </p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h3 class="faq-title">
                            <span class="title">
                                3. Can I use more than one of your aircrafts
                                at a time?
                            </span><span class="right-icon"></span>
                        </h3>
                        <div class="faq-content">
                            <p>
                                Whether you’re flying in a small, medium, or large group, VIP Jets offers a wide
                                variety of aircrafts suited for groups of all sizes. With the VIP Jets 25-Hour
                                Card, you have the flexibility to choose the size and age class.
                            </p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h3 class="faq-title">
                            <span class="title">
                                4. Where can I fly on one of your private
                                jets?
                            </span><span class="right-icon"></span>
                        </h3>
                        <div class="faq-content">
                            <p>
                                Whether you’re flying in a small, medium, or large group, VIP Jets offers a wide
                                variety of aircrafts suited for groups of all sizes. With the VIP Jets 25-Hour
                                Card, you have the flexibility to choose the size and age class.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Faq
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
 Start Choose
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section class="choose-section bg--gray ptb-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-12 text-center">
                <div class="section-header">
                    <span class="sub-title"><span>Why Us</span></span>
                    <h2 class="section-title">Why Choose Our Flynext?</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mb-30-none">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-30">
                <div class="choose-item">
                    <div class="choose-thumb">
                        <img src="assets/images/choose.png" alt="choose">
                    </div>
                    <span class="num">01</span>
                    <h3 class="title">Leading private aviation</h3>
                    <p>
                        As well as getting to fly to many different
                        destinations as part of their job, airplane
                        pilots get big discounts on
                    </p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-30">
                <div class="choose-item">
                    <div class="choose-thumb">
                        <img src="assets/images/choose.png" alt="choose">
                    </div>
                    <span class="num">02</span>
                    <h3 class="title">Tailored memberships</h3>
                    <p>
                        Charter an entire jet, or offer the seats you don’t need through our app a need for full
                        or even fractional jet ownership
                    </p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-30">
                <div class="choose-item">
                    <div class="choose-thumb">
                        <img src="assets/images/choose.png" alt="choose">
                    </div>
                    <span class="num">03</span>
                    <h3 class="title">Leading safety & privacy</h3>
                    <p>
                        XO is not simply a private jet service. Whether you’re traveling for business or leisure,
                        XO Membership also delivers
                    </p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-30">
                <div class="choose-item">
                    <div class="choose-thumb">
                        <img src="assets/images/choose.png" alt="choose">
                    </div>
                    <span class="num">04</span>
                    <h3 class="title">Client ratings & reviews</h3>
                    <p>
                        Search the world with ease and transparency.As the only tech-forward private aviation
                        company
                    </p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-30">
                <div class="choose-item">
                    <div class="choose-thumb">
                        <img src="assets/images/choose.png" alt="choose">
                    </div>
                    <span class="num">05</span>
                    <h3 class="title">Exceptional service</h3>
                    <p>
                        Our technology consistently delivers the best pricing for charters – and the unique
                        ability to buy individual seats.
                    </p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-30">
                <div class="choose-item">
                    <div class="choose-thumb">
                        <img src="assets/images/choose.png" alt="choose">
                    </div>
                    <span class="num">06</span>
                    <h3 class="title">Faster & smarter response</h3>
                    <p>
                        The first small jet-powered civil aircraft was the Morane-Saulnier MS.760 Paris,
                        developed privately in the early 1950s
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Choose
~~~~~~~~~~~~~~~~~~
